<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
	<link rel="stylesheet" href="./html5.css">

	<title>HTML5 Layout</title>
</head>

<body>

	<div class="wrapper">

		<header>
			<h1>TITLE ABOUT TREES</h1>
			<nav>
				<ul>
					<li><a href="" class="current">Home</a></li>
					<li><a href="">Gallery</a></li>
					<li><a href="">About</a></li>
					<li><a href="">Contact</a></li>
				</ul>
			</nav>
		</header>

		<section class="information">
			<article>
				<figure>
					<img src="./images/leaf.jpg" alt="Leaf in the Fall">
					<figcaption>Image Caption One</figcaption>
				</figure>
				<hgroup>
					<h2>Some Information</h2>
					<h3>Additional Information</h3>
				</hgroup>
				<p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Excepturi molestias a id magni necessitatibus tenetur
					tempore officiis impedit. Mollitia eveniet ipsum vel harum atque dicta nulla minima minus accusamus facilis.</p>
			</article>

			<article>
				<figure>
					<img src="./images/tree-rings.jpg" alt="Tree Rings">
					<figcaption>Image Caption Two</figcaption>
				</figure>
				<hgroup>
					<h2>Some Information</h2>
					<h3>Additional Information</h3>
				</hgroup>
				<p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Excepturi molestias a id magni necessitatibus tenetur
					tempore officiis impedit. Mollitia eveniet ipsum vel harum atque dicta nulla minima minus accusamus facilis.</p>
			</article>
		</section>

		<aside>
			<section class="popular">
				<h2>Popular Items</h2>
				<a href="">Item 1</a>
				<a href="">Item 2</a>
				<a href="">Item 3</a>
				<a href="">Item 4</a>
			</section>
			<section class="contact">
				<h2>Contact</h2>
				<p>Street Address <br>
					City <br>
					State <br>
					Zip <br></p>
			</section>
		</aside>

		<footer>
			&copy: This Year
			<br>
			Based on Jon Duckett's HTML & CSS (pgs: 445-448)
		</footer>
	</div>

</body>

</html>