* {
	box-sizing: border-box;
}

.navbar {
	align-items: center;
	background-color: cadetblue;
	display: flex;
	justify-content: space-between;
	width: 100%;
}

.links {
	display: flex;
	list-style: none;
}

a {
	color: white;
	text-decoration: none;
	padding: 10px;
}

.content {
	display: flex;
	flex-wrap: wrap;
	height: auto;
}

.main {
	background-color: grey;
	order: 2;
	padding: 10px;
	width: 60%;
}

h1 {
	text-align: center;
}

img {
	width: 100%;
}

.asideLeft,
.asideRight {
	background-color: lightgrey;
	padding: 10px;
	width: 20%;
}

.asideLeft {
	align-items: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	order: 1;
}

.asideRight {
	align-items: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	order: 3;
}

footer {
	width: 100%;
	align-items: center;
	background-color: slategray;
	color: white;
	display: flex;
	height: 50px;
	justify-content: center;
}

/*Media Queries*/

/* Width at 1024px and below */
@media screen and (max-width: 1024px) {
	img {
		width: 80%;
		height: auto;
	}
}

@media screen and (max-width: 768px) {

	.main,
	.asideLeft,
	.asideRight {
		flex: 0 1 100%;
	}
}